*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
@media screen and (max-width:720px){
    .card{
        width: 90%;
    }
   #name{
    font-size: 1.5rem;
   }
   .card h1{
    font-size: 1.5rem;
   }
   .card h2{
    font-size: .9rem;
   }
   .fa-twitter{
    color: #1da1f2;
   }
   .fa-github{
    color: #d03d07;
   }
   .fa-linkedin{
    color: #0e76a8;
   }
}

body{
    background:linear-gradient(rgba(128, 0, 128,0.75),rgba(255, 192, 203,0.95)) ;
    height: 200vh;
    background-repeat: no-repeat;
    width: 100%;
}
section{
    width: 80%;
    margin: auto;
}
.card{
    width: 70%;
    border: 1px solid black;
    margin:100px auto;
    min-height: 400px;
    border-radius: 40px; 
    background:linear-gradient(rgba(154, 34, 34, 0.95),rgba(0, 0, 255,0.7)) ;
    box-sizing: border-box;
    text-align: center;
    border-style: none;
    box-shadow:  24px 24px 48px rgba(109, 24, 38, 0.95),
             -24px -24px 48px rgba(238, 133, 151, 0.95);
}
.card img{
    width: 40%;
    border-radius: 100%;
    height:auto ;
    margin:30px 0;
}
#name{
    color: rgb(23, 184, 198);
    font-weight: 900;
}
.card h1{
    color: rgba(92, 15, 15, 0.95);
}
.card h2{
    color: rgba(84, 7, 84, 0.75);
    font-weight: 500;
}
.icons a{
    display: inline-flex;
    margin: 30px auto;
    font-size: 35px;
    color: black;
    transition: .5s;
    text-decoration: none;
    text-align: center;
}
.fa-twitter:hover{
    color: #1da1f2;
    transition: 2s;
}
.fa-linkedin:hover{
    color: #0e76a8;
    transition: 2s;
}
.fa-github:hover{
    color: #d03d07;
    transition: 2s;
}
svg{
    background: linear-gradient(#9a2222f2,rgba(0, 0, 255,0.7));
}